ul{
    list-style-type: none;
    display: flex;
    justify-content: end; 
     
    width: 100%;  
}
.rangi{
    width: 100%;
    background-color: #04D4F0;
    /* color: #fff; */
}
a{
    text-decoration: none;
    color: black;

}
li{
    
    
    margin-right: 2%;
    
}
/* .body{ */
    /* color: aqua; */
}
.about{
    display: flex;
    justify-content: start;
}
.maelezo{
   
    font-family: verdana;
    font-size: 20px;
}
.kwanini{
    /* background-color: #059DC0; */
    font-family: verdana;
    font-size: 18px;
    color: black;
}
.map {
    background-color: black;
    color: white;
}