ul{
    list-style-type: none;
    display: flex;
    justify-content: end; 
     
    width: 100%;  
}
.rangi{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    
    
    margin-right: 2%;
    
}